/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-mar-2017, 18:21:50
    Author     : Felipe
*/
@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);

canvas {
    width: 100% !important;
    height: auto !important;
    margin-left: -25%;
}

.chart {
    border: 1px solid forestgreen;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.pie {
    position: relative;
    padding: 10px 0;
    // adjust as necessary
    padding-left: 10px;
    padding-right: 0;
}

.legend {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 100%;
    // adjust as necessary:
    width: 48%;
}

@media (max-width: 480px) {
    .legend {
        position: relative;
        width: 100%;
    }
    .pie {
        margin: 0;
    }
}

.pie-legend ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

.pie-legend span {
    display: inline-block;
    width: 14px;
    height: 12px;
    border-radius: 100%;
    margin-right: 4px;
    margin-bottom: -2px;
}

.pie-legend li {
    margin-bottom: 4px;
    display: inline-block;
    margin-right: 4px;
}

.numAsientos{
    color: red;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid black;
}

.aviso{
    font-style: italic;
    font-size: 10px !important;
    color: red;
}

.bodyLogin{
    background-color: #00979C;
}

.logoHeaderAdmin{
    margin-top: 12%;
    margin-left: 25%;
    width:55%
}

.btn{
    font-size: 11px !important;
    border-radius: 100px !important;
    padding: 10px !important;
}

.botonesCabecera{
    float: right;
    margin-bottom: 20px;
    margin-right: 15px;
}

.imagenUsuario{
    float: right;
    border-radius: 20px;
}

body{
    font-size: 11px !important;
}


html {
    font-family: "Tenor Sans", sans-serif;
}

.container {
    width: 500px; 
    height: 400px;
}

.login {
    margin-top: 10%;
    width: 45%;
    margin-left: 27%;

}


.input-txt {
    width: 100%;
    padding: 20px 10px;
    background: #00979C;
    border: none;
    font-size: 1em;
    color: white;
    border-bottom: 1px dotted white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
.input-txt:-moz-placeholder {
    color: white;
}
.input-txt:-ms-input-placeholder {
    color: white;
}
.input-txt::-webkit-input-placeholder {
    color: white;
}
.input-txt:focus {
    background-color: sandybrown;
}

.login-footer {
    margin: 10px 0;
    overflow: hidden;
    float: left;
    width: 100%;
}

.botonLogin {
    padding: 14px 35px !important;
    border: none;
    background: sandybrown;
    color: white;
    border-radius: 25px;
}

.cabecera{    
    padding-bottom: 0.5% !important;
    border-bottom: outset;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0%;
}

.tituloPanel{
    color: white;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 12%;
}


@media screen and (max-width: 1365px) and (min-width: 1024px){

    .logoHeaderAdmin{
        margin-top: 30%;
        margin-left: 12%;
        width: 100%;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1366px){

    .logoHeaderAdmin{
        margin-top: 22%;
        margin-left: 15%;
        width: 75%;
    }

}

@media screen and (max-width: 1440px) and (min-width: 1400px){

    .logoHeaderAdmin{
        margin-top: 22%;
        margin-left: 15%;
        width: 75%;
    }

}
